* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #f5f7fa;
  min-height: 2000px;
}

/* NAVBAR */
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  padding: 16px 32px;
  background: #c4e8fd;
  box-shadow: 0 2px 8px rgba(63, 123, 218, 0.05);
}

.navbar__logo {
  font-weight: bold;
  color: #0288d1;
}

.navbar__menu a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}


.navbar__menu a:hover {
  color: #0288d1;
}

/* HERO */

.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url('img.scr/home-bg.jpeg.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

.home::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgb(194, 235, 255) 3%, rgba(255, 255, 255, 0)25%);
}

.home__content {
  position: relative;
  z-index: 1;
  max-width: 600px;
  padding: 20px;
}

.home__title {
  font-size: 3em;
  color: #fdfdfd;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 5px;
}

.home__title span {
  color: #74d2fe;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}


.home__subtitle {
  font-size: 18px;
  color: #fff;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

/* HERO KALKULATOR*/
.hero {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, rgba(194, 235, 255, 0.829), #0288d1);
  padding: 20px;
}

/* CARD */
.calculator {
  background: #ffffff;
  padding: 30px;
  border-radius: 20px;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.calculator__title {
  color: #0288d1;
  margin-bottom: 8px;
}

.calculator__subtitle {
  font-size: 14px;
  margin-bottom: 20px;
  color: #666;
}

/* FORM */
.form__group {
  text-align: left;
  margin-bottom: 18px;
}

.form__group label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

.form__group input,
.form__group select {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

/* OPTIONAL */
.form__group--optional {
  background: #f9fcff;
  padding: 10px;
  border-radius: 10px;
  border: 1px dashed #b3e5fc;
}

/* HINT */
.form__hint {
  font-size: 12px;
  color: #777;
  margin-top: 4px;
  display: block;
}

/* INPUT NUMBER */
input[type="number"] {
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* FOCUS */
.form__group input:focus,
.form__group select:focus {
  outline: none;
  border-color: #0288d1;
  box-shadow: 0 0 0 2px rgba(2, 136, 209, 0.2);
}

/* CUSTOM ACTIVE */
#customFlow:not(:placeholder-shown) {
  border-color: #26c6da;
  background: #f0fbff;
}

/* DISABLED */
select.disabled {
  background: #e0e0e0;
  cursor: not-allowed;
  opacity: 0.7;
}

/* BUTTON */
.form__actions {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.btn {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.btn--primary {
  background: #0288d1;
  color: white;
}

.btn--secondary {
  background: #e0e0e0;
}

/* RESULT */
.result {
  margin-top: 20px;
  padding: 15px;
  border-radius: 12px;
  background: #e1f5fe;
  display: none;
}

.result.show {
  display: block;
}

.result__item {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .navbar__menu {
    display: none;
  }

  .calculator {
    padding: 20px;
  }
}
