* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #f5f7fa;
  min-height: 2000px;
}

/* NAVBAR */
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  padding: 16px 32px;
  background: #c4e8fd;
  box-shadow: 0 2px 8px rgba(63, 123, 218, 0.05);
}

.navbar__logo {
  font-weight: bold;
  color: #0288d1;
}

.navbar__menu a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}


.navbar__menu a:hover {
  color: #0288d1;
}

