<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PureFlow Dashboard</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>


 <!--HERO-->
      <section class="home" id="Home">
        <main class="home__content">
        <h1 class="home__title">Setiap Tetes Berarti untuk <span> Masa Depan </span> </h1>
        <p class="home__subtitle">
          Platform pemantauan air premium yang mendukung SDG 6 PBB: Air Bersih dan Sanitasi. Lacak, analisis, dan optimalkan konsumsi air Anda untuk masa depan yang lebih berkelanjutan.
        </p>
      </section>
      </main>
